################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TutorialEcommerce.Helpers.Tests/bin/Debug/netcoreapp2.2
